@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  
  word-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* remove input arrow */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input {
  outline: none;
  border-radius: 6px;
  width: 100%;
  padding: 12px;
  /* padding: 10px 0px; */
  border: 1px solid rgba(194, 194, 194, 0.728);
}

.playfair{
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

body{
  overflow-x:hidden
}